Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

codecov:
  token: token

flags:
  r-package:
    default: true
    paths:
      - .
  python:
    paths:
      - python

Deploying to gh-pages from @ ygeunkim/bvhar@d6ae95a96f798c5d9d6aa5b31080fefa02821267 🚀
  dev/python/authors.html
  dev/python/get_started.html
  dev/python/index.html
  dev/python/intro.html
  dev/python/reference/DlConfig.html
  dev/python/reference/HorseshoeConfig.html
  dev/python/reference/InterceptConfig.html
  dev/python/reference/LambdaConfig.html
  dev/python/reference/LdltConfig.html
  dev/python/reference/MinnesotaConfig.html
  dev/python/reference/NgConfig.html
  dev/python/reference/SsvsConfig.html
  dev/python/reference/SvConfig.html
  dev/python/reference/VarBayes.html
  dev/python/reference/VarOls.html
  dev/python/reference/VharBayes.html
  dev/python/reference/VharOls.html
  dev/python/reference/checkomp.check_omp.html
  dev/python/reference/checkomp.is_omp.html
  dev/python/reference/index.html
  dev/python/reference/load_vix.html
  dev/python/reference/normal.generate_mnormal.html
  dev/python/search.json
  dev/python/site_libs/bootstrap/bootstrap-28b427849d376750a61608d7186ef154.min.css
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@58cfd9e3b5901d91d2f5d1a27edaaa8e4611b75a 🚀
  python/get_started.html
  python/intro.html
Due: python

save and return shrinkage parameters records in triangular
  inst/include/bvhar/src/bayes/shrinkage/shrinkage.h
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@a5543f0ca7232e50c77f9a24aa06a3ab1b3940db 🚀
  dev/cpp/classbaecon_1_1bvhar_1_1DlUpdater-members.html
  dev/cpp/classbaecon_1_1bvhar_1_1DlUpdater.html
  dev/cpp/classbaecon_1_1bvhar_1_1DlUpdater.js
  dev/cpp/classbaecon_1_1bvhar_1_1GdpUpdater-members.html
  dev/cpp/classbaecon_1_1bvhar_1_1GdpUpdater.html
  dev/cpp/classbaecon_1_1bvhar_1_1GdpUpdater.js
  dev/cpp/classbaecon_1_1bvhar_1_1HorseshoeUpdater-members.html
  dev/cpp/classbaecon_1_1bvhar_1_1HorseshoeUpdater.html
  dev/cpp/classbaecon_1_1bvhar_1_1HorseshoeUpdater.js
  dev/cpp/classbaecon_1_1bvhar_1_1NgUpdater-members.html
  dev/cpp/classbaecon_1_1bvhar_1_1NgUpdater.html
  dev/cpp/classbaecon_1_1bvhar_1_1NgUpdater.js
  dev/cpp/classbaecon_1_1bvhar_1_1ShrinkageUpdater.html
  dev/cpp/classbaecon_1_1bvhar_1_1SsvsUpdater-members.html
  dev/cpp/classbaecon_1_1bvhar_1_1SsvsUpdater.html
  dev/cpp/classbaecon_1_1bvhar_1_1SsvsUpdater.js
  dev/cpp/functions_a.html
  dev/cpp/functions_func.html
  dev/cpp/functions_func_u.html
  dev/cpp/functions_u.html
  dev/cpp/navtreedata.js
  dev/cpp/navtreeindex0.js
  dev/cpp/navtreeindex1.js
  dev/cpp/navtreeindex10.js
  dev/cpp/navtreeindex11.js
  dev/cpp/navtreeindex12.js
  dev/cpp/navtreeindex13.js
  dev/cpp/navtreeindex2.js
  dev/cpp/navtreeindex3.js
  dev/cpp/navtreeindex4.js
  dev/cpp/navtreeindex5.js
  dev/cpp/navtreeindex6.js
  dev/cpp/navtreeindex7.js
  dev/cpp/navtreeindex8.js
  dev/cpp/navtreeindex9.js
  dev/cpp/search/all_1.js
  dev/cpp/search/all_14.js
  dev/cpp/search/functions_0.js
  dev/cpp/search/functions_13.js
  dev/cpp/shrinkage_8h_source.html
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@a5543f0ca7232e50c77f9a24aa06a3ab1b3940db 🚀
  dev/python/get_started.html
  dev/python/intro.html
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@a5543f0ca7232e50c77f9a24aa06a3ab1b3940db 🚀
  dev/articles/bvhar.html
  dev/articles/bvhar.md
  dev/articles/forecasting.html
  dev/articles/forecasting.md
  dev/articles/forecasting_files/figure-html/evalplot-1.png
  dev/articles/forecasting_files/figure-html/predplot-1.png
  dev/articles/shrinkage.html
  dev/articles/shrinkage.md
  dev/articles/stochastic-volatility.html
  dev/articles/stochastic-volatility.md
  dev/news/index.html
  dev/news/index.md
  dev/pkgdown.yml
  dev/search.json
Due: none

fix ng shape acceptance ratio
  inst/include/bvhar/src/bayes/misc/ng_helper.h
Due: none

fix ssvs griddy gibbs
  inst/include/bvhar/src/bayes/misc/ssvs_helper.h
  inst/include/bvhar/src/bayes/shrinkage/shrinkage.h
Due: none

fix ssvs slab posterior
  inst/include/bvhar/src/bayes/misc/ssvs_helper.h
Due: none

Increment version number to 2.4.1.9001
  DESCRIPTION
  NEWS.md
Due: none

remove issue and pr template
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: r-package

replace cmake.minimum-version with cmake.version in pyproject
  python/pyproject.toml
Due: python

fix cmake version line in pyproject
  python/pyproject.toml
Due: python

Deploying to gh-pages from @ ygeunkim/bvhar@fa71bcb89860404f6ace4e03557ef85906980cae 🚀
  dev/python/authors.html
  dev/python/get_started.html
  dev/python/index.html
  dev/python/intro.html
  dev/python/reference/DlConfig.html
  dev/python/reference/HorseshoeConfig.html
  dev/python/reference/InterceptConfig.html
  dev/python/reference/LambdaConfig.html
  dev/python/reference/LdltConfig.html
  dev/python/reference/MinnesotaConfig.html
  dev/python/reference/NgConfig.html
  dev/python/reference/SsvsConfig.html
  dev/python/reference/SvConfig.html
  dev/python/reference/VarBayes.html
  dev/python/reference/VarOls.html
  dev/python/reference/VharBayes.html
  dev/python/reference/VharOls.html
  dev/python/reference/checkomp.check_omp.html
  dev/python/reference/checkomp.is_omp.html
  dev/python/reference/index.html
  dev/python/reference/load_vix.html
  dev/python/reference/normal.generate_mnormal.html
  dev/python/search.json
  dev/python/site_libs/bootstrap/bootstrap-e4ef0fa290ac3b9e53f0102223da7ae5.min.css
  dev/python/site_libs/quarto-html/quarto-syntax-highlighting-dark-5a1953863e1f72ef3b996ef827f01ca7.css
  dev/python/site_libs/quarto-nav/quarto-nav.js
Due: none

added updater classes for diverse models but need check
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/triangular.h
  inst/include/bvhar/src/bayes/triangular/updater.h
Due: none

simplify docs for new classes
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/triangular.h
  inst/include/bvhar/src/bayes/triangular/updater.h
Due: none

use pointer instead of smart pointer for updatecoef argument
  inst/include/bvhar/src/bayes/triangular/triangular.h
  inst/include/bvhar/src/bayes/triangular/updater.h
Due: none

add BVHAR_FETCH_DEPS option to enable fetchcontent in cmake
  .github/workflows/cpp-cmake-check.yaml
  .github/workflows/cpp-test-coverage.yaml
  CMakeLists.txt
  cmake/bvharConfig.cmake.in
  cmake/deps.cmake
Due: r-package

Deploying to gh-pages from @ ygeunkim/bvhar@61aa96377abcbc08bc25270d35491978d384d199 🚀
  dev/cpp/search/all_e.js
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@61aa96377abcbc08bc25270d35491978d384d199 🚀
  dev/python/authors.html
  dev/python/get_started.html
  dev/python/index.html
  dev/python/intro.html
  dev/python/reference/DlConfig.html
  dev/python/reference/HorseshoeConfig.html
  dev/python/reference/InterceptConfig.html
  dev/python/reference/LambdaConfig.html
  dev/python/reference/LdltConfig.html
  dev/python/reference/MinnesotaConfig.html
  dev/python/reference/NgConfig.html
  dev/python/reference/SsvsConfig.html
  dev/python/reference/SvConfig.html
  dev/python/reference/VarBayes.html
  dev/python/reference/VarOls.html
  dev/python/reference/VharBayes.html
  dev/python/reference/VharOls.html
  dev/python/reference/checkomp.check_omp.html
  dev/python/reference/checkomp.is_omp.html
  dev/python/reference/index.html
  dev/python/reference/load_vix.html
  dev/python/reference/normal.generate_mnormal.html
  dev/python/search.json
  dev/python/site_libs/bootstrap/bootstrap-d11a714ec93e4e7706f97ade0886064d.min.css
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@61aa96377abcbc08bc25270d35491978d384d199 🚀
  dev/articles/bvhar.html
  dev/articles/bvhar.md
  dev/articles/forecasting.html
  dev/articles/forecasting.md
  dev/articles/forecasting_files/figure-html/evalplot-1.png
  dev/articles/forecasting_files/figure-html/predplot-1.png
  dev/articles/stochastic-volatility.html
  dev/articles/stochastic-volatility.md
  dev/articles/stochastic-volatility_files/figure-html/denshs-1.png
  dev/articles/stochastic-volatility_files/figure-html/unnamed-chunk-1-1.png
  dev/pkgdown.yml
  dev/search.json
Due: none
