Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

remove parallel when initializing forecasters
  inst/include/bvharforecaster.h
Due: none

move rungibbs inside getspillover
  inst/include/bvharspillover.h
Due: none

Revert "move rungibbs inside getspillover"
  inst/include/bvharspillover.h
Due: none

add bvhar/core module
  inst/include/bvhar/core/common.h
  inst/include/bvhar/core/commondefs.h
  inst/include/bvhar/core/eigen.h
  inst/include/bvhar/core/interrupt.h
  inst/include/bvhar/core/omp.h
  inst/include/bvhar/core/progress.h
  inst/include/bvhar/core/spdlog.h
Due: none

fix include inside core
  inst/include/bvhar/core/common.h
  inst/include/bvhar/core/progress.h
  inst/include/bvhar/core/spdlog.h
Due: none

add bvhar/mcmc module
  inst/include/bvhar/math/design.h
  inst/include/bvhar/math/random.h
  inst/include/bvhar/mcmc/config.h
  inst/include/bvhar/mcmc/draw.h
  inst/include/bvhar/mcmc/triangular.h
Due: none

update include lines in mcmc module
  inst/include/bvhar/math/random.h
  inst/include/bvhar/mcmc/config.h
  inst/include/bvhar/mcmc/draw.h
  inst/include/bvhar/mcmc/triangular.h
Due: none

move mcmcreg and mcmcsv
  inst/include/bvhar/mcmc/reg.h
  inst/include/bvhar/mcmc/sv.h
Due: none

header including in reg and sv
  inst/include/bvhar/mcmc/reg.h
  inst/include/bvhar/mcmc/sv.h
Due: none

add ols module
  inst/include/bvhar/math/structural.h
  inst/include/bvhar/ols/forecaster.h
  inst/include/bvhar/ols/ols.h
  inst/include/bvhar/ols/spillover.h
Due: none

fix header guard of moved headers
  inst/include/bvhar/core/common.h
  inst/include/bvhar/core/commondefs.h
  inst/include/bvhar/core/eigen.h
  inst/include/bvhar/core/interrupt.h
  inst/include/bvhar/core/omp.h
  inst/include/bvhar/core/progress.h
  inst/include/bvhar/core/spdlog.h
  inst/include/bvhar/math/design.h
  inst/include/bvhar/math/random.h
  inst/include/bvhar/math/structural.h
  inst/include/bvhar/mcmc/config.h
  inst/include/bvhar/mcmc/draw.h
  inst/include/bvhar/mcmc/reg.h
  inst/include/bvhar/mcmc/sv.h
  inst/include/bvhar/mcmc/triangular.h
  inst/include/bvhar/ols/ols.h
  inst/include/bvhar/ols/spillover.h
Due: none

fix ols module
  inst/include/bvhar/ols/forecaster.h
  inst/include/bvhar/ols/ols.h
  inst/include/bvhar/ols/spillover.h
Due: none

add separate triangular module
  inst/include/bvhar/bayes/misc/draw.h
  inst/include/bvhar/bayes/triangular/config.h
  inst/include/bvhar/bayes/triangular/forecaster.h
  inst/include/bvhar/bayes/triangular/reg.h
  inst/include/bvhar/bayes/triangular/regforecaster.h
  inst/include/bvhar/bayes/triangular/regspillover.h
  inst/include/bvhar/bayes/triangular/spillover.h
  inst/include/bvhar/bayes/triangular/sv.h
  inst/include/bvhar/bayes/triangular/svforecaster.h
  inst/include/bvhar/bayes/triangular/svspillover.h
  inst/include/bvhar/bayes/triangular/triangular.h
Due: none

fix safe guard in triangular
  inst/include/bvhar/bayes/misc/draw.h
  inst/include/bvhar/bayes/triangular/config.h
  inst/include/bvhar/bayes/triangular/forecaster.h
  inst/include/bvhar/bayes/triangular/reg.h
  inst/include/bvhar/bayes/triangular/regforecaster.h
  inst/include/bvhar/bayes/triangular/regspillover.h
  inst/include/bvhar/bayes/triangular/spillover.h
  inst/include/bvhar/bayes/triangular/sv.h
  inst/include/bvhar/bayes/triangular/svforecaster.h
  inst/include/bvhar/bayes/triangular/svspillover.h
  inst/include/bvhar/bayes/triangular/triangular.h
Due: none

add mniw module
  inst/include/bvhar/bayes/mniw/forecaster.h
  inst/include/bvhar/bayes/mniw/minnesota.h
  inst/include/bvhar/bayes/mniw/spillover.h
Due: none

fix safe guard in mniw
  inst/include/bvhar/bayes/mniw/forecaster.h
  inst/include/bvhar/bayes/mniw/minnesota.h
  inst/include/bvhar/bayes/mniw/spillover.h
Due: none

move header files into src subdir
  inst/include/bvhar/src/bayes/misc/draw.h
  inst/include/bvhar/src/bayes/mniw/forecaster.h
  inst/include/bvhar/src/bayes/mniw/minnesota.h
  inst/include/bvhar/src/bayes/mniw/spillover.h
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  inst/include/bvhar/src/bayes/triangular/reg.h
  inst/include/bvhar/src/bayes/triangular/regforecaster.h
  inst/include/bvhar/src/bayes/triangular/regspillover.h
  inst/include/bvhar/src/bayes/triangular/spillover.h
  inst/include/bvhar/src/bayes/triangular/sv.h
  inst/include/bvhar/src/bayes/triangular/svforecaster.h
  inst/include/bvhar/src/bayes/triangular/svspillover.h
  inst/include/bvhar/src/bayes/triangular/triangular.h
  inst/include/bvhar/src/core/common.h
  inst/include/bvhar/src/core/commondefs.h
  inst/include/bvhar/src/core/eigen.h
  inst/include/bvhar/src/core/interrupt.h
  inst/include/bvhar/src/core/omp.h
  inst/include/bvhar/src/core/progress.h
  inst/include/bvhar/src/core/spdlog.h
  inst/include/bvhar/src/math/design.h
  inst/include/bvhar/src/math/random.h
  inst/include/bvhar/src/math/structural.h
  inst/include/bvhar/src/ols/forecaster.h
  inst/include/bvhar/src/ols/ols.h
  inst/include/bvhar/src/ols/spillover.h
Due: none

start to fix source codes for changed header structure
  python/src/bvhar/_src/_bayes.cpp
  python/src/bvhar/_src/_forecast.cpp
  python/src/bvhar/_src/_spillover.cpp
  python/src/bvhar/utils/_utils.cpp
  src/estimate-bayes.cpp
  src/estimate-ols.cpp
  src/forecast.cpp
  src/spillover.cpp
  src/utils.cpp
Due: python

add modularized header
  inst/include/bvhar/bayesfit
  inst/include/bvhar/forecast
  inst/include/bvhar/ols
  inst/include/bvhar/spillover
  inst/include/bvhar/utils
Due: none

update cpp source vignettes
  vignettes/linking.Rmd
Due: none

remove checkomp.py made mistakenly
  python/src/bvhar/utils/checkomp.py
Due: python

use get log name before initialize spdlog
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  inst/include/bvhar/src/bayes/triangular/triangular.h
Due: none

add additional step to prevent memory error in check
  .github/workflows/R-CMD-check.yaml
Due: r-package

add more configuration in r-cmd-check
  .github/workflows/R-CMD-check.yaml
Due: r-package

skip spillover test temporarily
  inst/doxygen/Doxyfile
  inst/include/bvhar/src/bayes/triangular/triangular.h
  tests/testthat/test-spillover.R
Due: none

update ig generation
  inst/include/bvhar/src/core/common.h
  inst/include/bvhar/src/math/random.h
Due: none

use upcoming ig and gig random from boost
  inst/include/bvhar/src/bayes/misc/draw.h
  inst/include/bvhar/src/core/common.h
  inst/include/bvhar/src/math/random.h
Due: none

remove uninitialized variables warning in gig [skip ci]
  inst/include/bvhar/src/core/common.h
Due: none

remove sparsematrix part
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  inst/include/bvhar/src/math/design.h
Due: none

remove memory step
  .github/workflows/R-CMD-check.yaml
Due: r-package

use -j1 in windows r 4.1
  .github/workflows/R-CMD-check.yaml
Due: r-package

windows makeflags in steps
  .github/workflows/R-CMD-check.yaml
Due: r-package

divide forecast cpp file to ols and bayes
  .github/workflows/R-CMD-check.yaml
  src/forecast-bayes.cpp
  src/forecast-ols.cpp
Due: r-package

divide forecast roll and expand
  R/RcppExports.R
  src/RcppExports.cpp
  src/expand.cpp
  src/forecast-bayes.cpp
  src/forecast.cpp
  src/roll.cpp
Due: none

rearrange cpp source files based on headers
  R/RcppExports.R
  inst/include/bvhar/bayesfit
  inst/include/bvhar/mniw
  inst/include/bvhar/triangular
  python/src/bvhar/_src/_bayes.cpp
  python/src/bvhar/_src/_cta.cpp
  python/src/bvhar/_src/_spillover.cpp
  python/src/bvhar/model/_bayes.py
  src/RcppExports.cpp
  src/estimate-bayes.cpp
  src/estimate-ols.cpp
  src/expand.cpp
  src/forecast.cpp
  src/mniw.cpp
  src/ols.cpp
  src/roll.cpp
  src/spillover.cpp
  src/triangular.cpp
Due: python

remove gig of hormann's algorithm
  DESCRIPTION
  NAMESPACE
  R/RcppExports.R
  R/generate-process.R
  inst/include/bvhar/src/math/random.h
  man/sim_gig.Rd
  python/docs/_quarto.yml
  python/src/bvhar/random/normal.cpp
  src/RcppExports.cpp
  src/utils.cpp
  tests/testthat/test-generate-process.R
Due: python

move some including line
  inst/include/bvhar/src/bayes/misc/draw.h
  inst/include/bvhar/src/math/random.h
Due: none

Increment version number to 2.1.2.9017
  DESCRIPTION
  NEWS.md
Due: none

remove sim_gig index in pkgdown
  _pkgdown.yml
  inst/include/bvhar/src/math/random.h
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
