Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

codecov:
  token: token

flags:
  r-package:
    default: true
    paths:
      - .
  python:
    paths:
      - python

fix non-void return type warning
  inst/include/bvhar/src/bayes/forecaster.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: none

add factor forecater class
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: none

simplify insample forecast rcpp functions
  R/RcppExports.R
  R/forecast.R
  src/RcppExports.cpp
  src/triangular.cpp
Due: none

add favar forecast rcpp function but not work
  R/RcppExports.R
  R/forecast.R
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  src/RcppExports.cpp
  src/triangular.cpp
Due: none

add factor param update in forecasting but somethings wrong with triangular class initialization
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: none

fixed favar initialization issue
  inst/include/bvhar/src/bayes/triangular/triangular.h
  tests/testthat/test-var-bayes.R
  tests/testthat/test-vhar-bayes.R
Due: none

fix record when using favar in forecasting but insample is not ready yet
  R/vhar-bayes.R
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  tests/testthat/test-forecast.R
Due: none

favar predict now works but need adjustment of design for pseudo out-of-sample forecasting
  inst/include/bvhar/src/bayes/dfm/config.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  src/triangular.cpp
  tests/testthat/test-forecast.R
Due: none

can use pseudo out-of-sample forecasting for favar
  R/RcppExports.R
  R/misc-r.R
  R/summary-forecast.R
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  src/RcppExports.cpp
  src/triangular.cpp
  tests/testthat/test-forecast.R
  tests/testthat/test-summary-forecast.R
Due: none

add favar reference
  R/var-bayes.R
  man/var_bayes.Rd
Due: none

Increment version number to 2.3.0.9011
  DESCRIPTION
  NEWS.md
Due: none

add missing set_factor in pkgdown
  _pkgdown.yml
Due: none

fix optional check in initialize_ctaforecaster [skip py]
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-test-coverage.yaml
  .github/workflows/py-wheel-check.yaml
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: r-package

fix initialization order of ctaoutforecastrun [skip py]
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: none

fix matrix check macro for various numeric types
  inst/include/bvhar/src/core/commondefs.h
Due: none

inlcude lbfgspp header
  DESCRIPTION
  inst/include/bvhar/src/core/common.h
  inst/include/bvhar/src/core/lbfgspp.h
Due: none

add base class for empirical bayes and minnesota likelihood
  inst/include/bvhar/src/bayes/mniw/tuning.h
  inst/include/bvhar/src/bayes/optim.h
Due: none

move optim in math and change the class names
  inst/include/bvhar/src/bayes/mniw/tuning.h
  inst/include/bvhar/src/math/optim.h
Due: none

add lbfgspp in conda environment yaml
  python/requirements/environment-dev.yml
  python/requirements/environment.yml
Due: python

choose hyperparameter in constructor but mniw classes need refactoring
  R/bvar-minnesota.R
  R/bvhar-minnesota.R
  inst/include/bvhar/src/bayes/mniw/minnesota.h
  inst/include/bvhar/src/bayes/mniw/tuning.h
  tests/testthat/test-bvar-minnesota.R
  tests/testthat/test-bvhar-minnesota.R
  tests/testthat/test-criteria.R
Due: none

make separate config header as other modules
  inst/include/bvhar/src/bayes/mniw/config.h
  inst/include/bvhar/src/bayes/mniw/minnesota.h
  inst/include/bvhar/src/math/optim.h
Due: none

return fx to use minimize
  inst/include/bvhar/src/bayes/mniw/tuning.h
  inst/include/bvhar/src/math/optim.h
Due: none

ignore forecasting.Rmd vignettes for more changes in the future
  .Rbuildignore
  inst/include/bvhar/src/math/optim.h
Due: r-package

remove optimparallel usage in minnesota functions
  R/RcppExports.R
  R/bvar-minnesota.R
  R/bvhar-minnesota.R
  inst/include/bvhar/src/bayes/mniw/tuning.h
  man/bvar_minnesota.Rd
  man/bvhar_minnesota.Rd
  src/RcppExports.cpp
  src/mniw.cpp
Due: none

deprecate choose_bayes families
  R/tuning.R
  README.Rmd
  README.md
  _pkgdown.yml
  man/bound_bvhar.Rd
  man/choose_bayes.Rd
  man/choose_bvar.Rd
Due: none

remove unused num_dummy
  inst/include/bvhar/src/bayes/mniw/tuning.h
Due: none

add lbfgspp install in ci
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
Due: r-package

Increment version number to 2.3.0.9012
  DESCRIPTION
  NEWS.md
Due: none

include optim header in utils [skip ci]
  inst/include/bvhar/src/math/optim.h
  inst/include/bvhar/utils
Due: none

add alternative progress bar class
  inst/include/bvhar/src/core/commondefs.h
  inst/include/bvhar/src/core/progress.h
  inst/include/bvhar/src/core/spdlog.h
Due: none

replace old bvharprogress and spdlog logger with BvharProgress
  inst/include/bvhar/src/bayes/bayes.h
  inst/include/bvhar/src/bayes/forecaster.h
  inst/include/bvhar/src/bayes/mniw/config.h
  inst/include/bvhar/src/bayes/triangular/deprecated/forecaster.h
  inst/include/bvhar/src/core/progress.h
  inst/include/bvhar/src/core/spdlog.h
  src/mniw.cpp
Due: none

define progress bar default configurations with macros
  inst/include/bvhar/src/bayes/bayes.h
  inst/include/bvhar/src/bayes/forecaster.h
  inst/include/bvhar/src/core/progress.h
Due: none

Increment version number to 2.3.0.9013
  DESCRIPTION
  NEWS.md
Due: none

add lbfgspp header
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/setup.py
Due: r-package, python

fix lbfgspp directory
  python/setup.py
Due: python

add cmakelist and deprecate setup.py
  python/CMakeLists.txt
  python/setup-deprecated.py
Due: python

use scikit-build-core
  python/pyproject.toml
  python/requirements/environment-dev.yml
  python/requirements/environment.yml
  python/requirements/requirements-dev.txt
  python/requirements/requirements.txt
Due: python

comment cpp library install in workflows
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Due: r-package, python

fix pyproject against modulefounderror
  python/CMakeLists.txt
  python/pyproject.toml
Due: python

prioritize conda
  python/CMakeLists.txt
Due: python
