Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

use isPath = true but the results will be same until fully implemented
  R/summary-forecast.R
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: none

Increment version number to 2.3.0.9015
  DESCRIPTION
  NEWS.md
Due: none

move rng of autoreggenerator into public
  inst/include/bvhar/src/core/forecaster.h
Due: none

Increment version number to 2.3.0.9016
  DESCRIPTION
Due: none

Revert "Increment version number to 2.3.0.9016"
  DESCRIPTION
Due: none

Revert "move rng of autoreggenerator into public"
  inst/include/bvhar/src/core/forecaster.h
Due: none

comment reset in forecastrun class for flexibility
  inst/include/bvhar/src/bayes/forecaster.h
Due: none

add dontrun in minnesota prior example
  R/bvar-minnesota.R
  R/bvhar-minnesota.R
  man/bvar_minnesota.Rd
  man/bvhar_minnesota.Rd
Due: none

remove omp master and check thread number [skip ci]
  inst/include/bvhar/src/core/progress.h
Due: none

replace fmt::format with string addition due to the error in C++20
  inst/include/bvhar/src/bayes/bayes.h
  inst/include/bvhar/src/bayes/forecaster.h
  src/mniw.cpp
Due: none

Increment version number to 2.3.0.9016
  DESCRIPTION
  NEWS.md
Due: none

Increment version number to 2.4.0
  DESCRIPTION
  NEWS.md
Due: none

rebuild readme
  README.md
Due: none

try to use baeconverse.org
  .github/workflows/doxygen.yaml
  .github/workflows/pkgdown.yaml
  .github/workflows/quartodoc.yaml
Due: r-package

Create CNAME
  CNAME
Due: none

add release and hotfix links for python github check
  .github/workflows/py-github-check.yaml
Due: r-package

make pkgdown work in release branch [only pages]
  .github/workflows/R-CMD-check.yaml
  .github/workflows/pkgdown.yaml
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-test-coverage.yaml
  .github/workflows/py-wheel-check.yaml
  .github/workflows/quartodoc.yaml
  .github/workflows/test-coverage.yaml
Due: r-package

Deploying to gh-pages from @ ygeunkim/bvhar@a1bc83188ba37b00dfac081dccb46320be1acac7 🚀
  python/get_started.html
  python/intro.html
Due: python

add nojekyll [only pages]
  .github/workflows/pkgdown.yaml
Due: r-package

Deploying to gh-pages from @ ygeunkim/bvhar@5222370453585253edf9417327e1da4674d429fb 🚀
  python/get_started.html
  python/intro.html
Due: python

Deploying to gh-pages from @ ygeunkim/bvhar@5222370453585253edf9417327e1da4674d429fb 🚀
  .nojekyll
  articles/bvhar.html
  articles/bvhar.md
  articles/forecasting.html
  articles/forecasting.md
  articles/forecasting_files/figure-html/evalplot-1.png
  articles/forecasting_files/figure-html/predplot-1.png
  pkgdown.yml
  search.json
Due: r-package

Delete CNAME
  CNAME
Due: none

replace old url with baeconverse url
  DESCRIPTION
  README.Rmd
  README.md
  _pkgdown.yml
  inst/doxygen/index.md
  logo/bvhar-hex.R
  logo/bvhar-logo.png
  man/bvhar-package.Rd
  man/figures/logo.png
  pkgdown/favicon/apple-touch-icon.png
  pkgdown/favicon/favicon-96x96.png
  pkgdown/favicon/favicon.ico
  pkgdown/favicon/favicon.svg
  pkgdown/favicon/web-app-manifest-192x192.png
  pkgdown/favicon/web-app-manifest-512x512.png
  python/docs/favicon.ico
  python/docs/index.qmd
  python/docs/logo.png
  python/pyproject.toml
  python/setup.py
Due: python

Deploying to gh-pages from @ ygeunkim/bvhar@af51404beecd81f35a72d1e49d85ea4aa38d1634 🚀
  cpp/apple-touch-icon.png
  cpp/index.html
Due: none

fix branch link in windows [skip ci]
  .github/workflows/py-github-check.yaml
Due: r-package

update cran-comments [skip ci]
  cran-comments.md
  revdep/README.md
Due: none

add future tag link in pkgdown [skip ci]
  _pkgdown.yml
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@e4034851bfd94e41f8f387ad09dfba414b440a22 🚀
  python/favicon.ico
  python/get_started.html
  python/index.html
  python/intro.html
  python/logo.png
Due: python

Increment version number to 2.4.0.9000
  DESCRIPTION
  NEWS.md
Due: none

add mean_save in forecaster for lpl in augmented models
  inst/include/bvhar/src/bayes/forecaster.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  inst/include/bvhar/src/core/forecaster.h
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
