Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

Increment version number to 2.1.2.9011
  DESCRIPTION
Due: none

add random initialization constructors
  inst/include/bvharconfig.h
Due: none

temporary change to dl prior
  DESCRIPTION
  R/hyperparam.R
  inst/include/bvharconfig.h
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
  man/set_dl.Rd
Due: none

use inverse gamma for group in dl
  DESCRIPTION
  R/hyperparam.R
  inst/include/bvharconfig.h
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
  man/set_dl.Rd
  python/src/bvhar/model/_spec.py
Due: python

Increment version number to 2.1.2.9012
  DESCRIPTION
  NEWS.md
Due: none

fix missed code line in dl sampling
  inst/include/bvhardraw.h
Due: none

fix c++17 required constexpr code
  inst/include/bvharmcmc.h
Due: none

smaller while max iteration in gig generation
  inst/include/bvharsim.h
Due: none

Revert "smaller while max iteration in gig generation"
  inst/include/bvharsim.h
Due: none

fix gig scaling
  inst/include/bvharsim.h
Due: none

replace typedef with using
  inst/include/bvharcommon.h
  inst/include/bvharmcmc.h
Due: none

add spdlog in mcmc
  DESCRIPTION
  inst/include/bvharmcmc.h
  inst/include/commondefs.h
  src/RcppExports.cpp
Due: none

add spdlog path in python
  .github/workflows/R-CMD-check.yaml
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/requirements/environment-dev.yml
  python/requirements/environment.yml
  python/setup.py
Due: r-package, python

use FMT_HEADER_ONLY instead of adding fmt library directory
  python/setup.py
Due: python

override Rcout with RcppThread instead of using derived class
  inst/include/commondefs.h
Due: none

add bvharspdlog header
  DESCRIPTION
  inst/include/bvharcommon.h
  inst/include/bvharspdlog.h
  inst/include/commondefs.h
Due: none

add spdlog for forecaster
  R/RcppExports.R
  R/summary-forecast.R
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
  man/forecast_expand.Rd
  man/forecast_roll.Rd
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_svforecast.cpp
  python/src/bvhar/model/_bayes.py
  src/RcppExports.cpp
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: python

avoid floating point exception in logger frequency
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
Due: none

use vcpkg instead of chocolatey in github action
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
Due: r-package

add fmt header path
  python/setup.py
Due: python

use library dirs for fmt
  .github/workflows/R-CMD-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/setup.py
Due: r-package, python

fix quiet in windows vcpkg
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/setup.py
Due: r-package, python

use external fmt due to mac
  python/setup.py
Due: python

add fmt directory in ci
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
Due: r-package

add library dir message in build
  python/setup.py
Due: python

revert setup
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/setup.py
Due: r-package, python

use fmt include dir to get fmt lib dir
  python/setup.py
Due: python

lib in linux
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/setup.py
Due: r-package, python

revert lib finding
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/setup.py
Due: r-package, python

use fmt dir for lib only in mac
  python/setup.py
Due: python

Revert "use fmt dir for lib only in mac"
  python/setup.py
Due: python

define spdlog header only macro
  python/setup.py
Due: python

change uniform rand in gig
  inst/include/bvharcommon.h
  inst/include/bvharsim.h
Due: none

reduce the number of vector
  inst/include/bvhardraw.h
Due: none

evaluate support r 3.6
  .github/workflows/R-CMD-check.yaml
Due: r-package

use square for group parameter in dl
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
Due: none

add warmup and sampling message in logger
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
Due: none

add fmt_header_only macro
  python/setup.py
Due: python

change include order and add library directory
  python/setup.py
Due: python

try spdlog_compile_lib instead of external fmt
  python/setup.py
Due: python

Path conditions:
  r-package: any of: .
  python: any of: python
