Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

set stable option to FALSE in forecast
  R/forecast.R
  R/summary-forecast.R
  man/forecast_expand.Rd
  man/forecast_roll.Rd
  man/predict.Rd
Due: none

change hyperparameter of savs
  R/var-bayes.R
  R/vhar-bayes.R
  inst/include/bvhardraw.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: none

set stable threshold a little looser
  inst/include/bvhardraw.h
  inst/include/ldltconfig.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
  inst/include/regforecaster.h
  inst/include/svconfig.h
  inst/include/svforecaster.h
Due: none

move doposteriordraws() definition into the base classes
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

use smart pointer for regrecords in each class
  inst/include/bvharomp.h
  inst/include/commondefs.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

reduce code duplicates in returnrecords
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

add some pure virtual functions in regrecords for flexibility
  inst/include/bvharconfig.h
  inst/include/ldltconfig.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
  inst/include/svconfig.h
Due: none

add return list records methods in record structs
  inst/include/bvharconfig.h
  inst/include/ldltconfig.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
  inst/include/svconfig.h
Due: none

use template for param structs
  inst/include/bvharconfig.h
  inst/include/ldltconfig.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
  inst/include/svconfig.h
  python/src/bvhar/_src/_ldlt.cpp
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_sv.cpp
  python/src/bvhar/_src/_svforecast.cpp
  src/estimate-sur.cpp
  src/estimate-sv.cpp
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
  src/spillover-ldlt.cpp
Due: python

add template for init structs
  inst/include/bvharconfig.h
  inst/include/ldltconfig.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
  inst/include/svconfig.h
  python/src/bvhar/_src/_ldlt.cpp
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_sv.cpp
  python/src/bvhar/_src/_svforecast.cpp
  src/estimate-sur.cpp
  src/estimate-sv.cpp
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
  src/spillover-ldlt.cpp
Due: python

use only bvharconfig header for config structs
  inst/include/bvharconfig.h
  inst/include/ldltconfig.h
  inst/include/svconfig.h
Due: none

updated header declaration in mcmc header
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

define return ldlt and sv records methods in each struct
  inst/include/bvharconfig.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

make base class of mcmcreg and mcmcsv
  inst/include/bvharmcmc.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

remove code duplicates of shrinkage priors mcmc classes between ldlt and sv
  inst/include/bvharmcmc.h
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

fix non-cast line for python
  inst/include/bvharconfig.h
  python/tests/test_bayes.py
Due: python

add init mcmc function but also need another one for expanding windows
  inst/include/bvharmcmc.h
  inst/include/commondefs.h
  src/estimate-sur.cpp
  src/estimate-sv.cpp
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: none

add make unique check condition
  inst/include/commondefs.h
Due: none

change init mcmc switch case lines with initialize_mcmc function
  inst/include/bvharcommon.h
  inst/include/bvharconfig.h
  inst/include/bvharmcmc.h
  python/src/bvhar/_src/_ldlt.cpp
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_sv.cpp
  python/src/bvhar/_src/_svforecast.cpp
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
  src/spillover-ldlt.cpp
Due: python

use mcmc interface class instead of lambda function in cpp
  inst/include/bvharmcmc.h
  inst/include/commondefs.h
  python/src/bvhar/_src/_ldlt.cpp
  python/src/bvhar/_src/_sv.cpp
  src/estimate-sur.cpp
  src/estimate-sv.cpp
Due: python

Increment version number to 2.1.2.9005
  DESCRIPTION
  NEWS.md
Due: none

remove cpp version check
  inst/include/bvharcommon.h
  inst/include/commondefs.h
Due: none

use smart pointer for records member and same forecastdensity() methods
  inst/include/regforecaster.h
  inst/include/svforecaster.h
  python/src/bvhar/_src/_svforecast.cpp
  src/forecast-sv.cpp
Due: python

add forecastout method
  inst/include/regforecaster.h
  inst/include/svforecaster.h
Due: none

add updatediag method in records to access the members
  inst/include/bvharconfig.h
  inst/include/regforecaster.h
  inst/include/svforecaster.h
Due: none

make mcmc forecast abstract class
  inst/include/bvharforecaster.h
  inst/include/regforecaster.h
  inst/include/svforecaster.h
Due: none

add mcmcvarforecaster and mcmcvharforecaster
  inst/include/bvharforecaster.h
  inst/include/regforecaster.h
  inst/include/svforecaster.h
Due: none

use template inheritance for selectforecasters
  inst/include/bvharforecaster.h
  inst/include/regforecaster.h
  inst/include/svforecaster.h
Due: none

add bool sv to every constructor instead of overloading
  inst/include/bvharforecaster.h
  src/forecast-sv.cpp
Due: none

fix c_record usage in forecasting
  python/src/bvhar/_src/_ldlt.cpp
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_sv.cpp
  python/src/bvhar/_src/_svforecast.cpp
  python/src/bvhar/model/_bayes.py
  python/src/bvhar/utils/_misc.py
  python/tests/test_bayes.py
Due: python

add initialize forecaster template function
  inst/include/bvhardraw.h
  inst/include/bvharforecaster.h
  inst/include/commondefs.h
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: none

use initialize forecaster function in rcpp function
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: none

make forecast run class
  R/forecast.R
  inst/include/bvhareigen.h
  inst/include/bvharforecaster.h
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: none

make roll and expand forecasting class
  R/summary-forecast.R
  inst/include/bvharconfig.h
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
  inst/include/commondefs.h
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_svforecast.cpp
  python/src/bvhar/model/_bayes.py
  python/tests/test_bayes.py
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: python

Increment version number to 2.1.2.9006
  DESCRIPTION
  NEWS.md
  tests/testthat/test-summary-forecast.R
Due: none

remove wrong virtual in middle classes
  .github/workflows/R-CMD-check.yaml
  R/forecast.R
  R/summary-forecast.R
  inst/include/bvharforecaster.h
Due: r-package

use the same savs penalty in contem [skip ci]
  inst/include/bvhardraw.h
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
Due: none

added id std::set processing function for params
  inst/include/bvharconfig.h
  inst/include/bvhardraw.h
Due: none

fix issue #14
  inst/include/bvharconfig.h
  inst/include/commondefs.h
Due: none

add med option to use median as point forecast
  NAMESPACE
  R/forecast.R
  R/summary-forecast.R
  man/forecast_expand.Rd
  man/forecast_roll.Rd
  man/predict.Rd
  python/src/bvhar/model/_bayes.py
Due: python

Path conditions:
  r-package: any of: .
  python: any of: python
