Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

codecov:
  token: token

flags:
  r-package:
    default: true
    paths:
      - .
  python:
    paths:
      - python

Revert "try spdlog_compile_lib instead of external fmt"
  python/setup.py
Due: python

use pybind11extension libraries only in linux
  python/setup.py
Due: python

remove spdlog_fmt_external macro
  python/setup.py
Due: python

add fmt header when it is not linux
  python/setup.py
Due: python

Increment version number to 2.1.2.9013
  DESCRIPTION
  NEWS.md
Due: none

log when 5 percent and add flushing
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
Due: none

revert dl inverse gamma sampling
  inst/include/bvharmcmc.h
Due: none

add epsilon check in dl [skip ci]
  inst/include/bvhardraw.h
Due: none

basic setup to use doxygen for public headers
  .Rbuildignore
  .github/workflows/doxygen.yaml
  .gitignore
  inst/doxygen/Doxyfile
  inst/include/bvharconfig.h
  inst/include/bvharmcmc.h
  inst/include/commondefs.h
Due: r-package

add mainpage using markdown
  _pkgdown.yml
  inst/doxygen/Doxyfile
  inst/doxygen/index.md
Due: none

commit before merge
  .github/workflows/doxygen.yaml
  inst/doxygen/Doxyfile
  inst/doxygen/index.md
Due: r-package

try gamma for dl [skip ci]
  inst/include/bvhardraw.h
Due: none

add doxygen comment in bvharconfig
  inst/include/bvharconfig.h
Due: none

use doxygen ci temporarily in feature/cpp-document branch
  .github/workflows/doxygen.yaml
Due: r-package

Fill doxygen comments in bvharmcmc
  .github/workflows/doxygen.yaml
  inst/include/bvharconfig.h
  inst/include/bvharmcmc.h
Due: r-package

fill doxygen comments in bvharforecaster
  inst/include/bvharforecaster.h
  inst/include/bvharmcmc.h
Due: none

render with and without USE_RCPP and _OPENMP
  .github/workflows/doxygen.yaml
  inst/doxygen/Doxyfile
Due: r-package

extract r package version to use in doxygen
  .github/workflows/doxygen.yaml
  inst/doxygen/Doxyfile
Due: r-package

fix sed in doxygen workflow
  .github/workflows/doxygen.yaml
Due: r-package

fix version extraction
  .github/workflows/doxygen.yaml
Due: r-package

remove temporary branch in doxygen yaml
  .github/workflows/doxygen.yaml
Due: r-package

adjust dl and ng again
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
Due: none

try gig in dl [skip ci]
  inst/include/bvhardraw.h
Due: none

should use BH 1.87 for fix assert handle
  DESCRIPTION
  src/Makevars.ucrt
  src/Makevars.win
Due: none

fix chunk size in static schedule [skip ci]
  inst/include/bvharforecaster.h
  src/spillover-ldlt.cpp
Due: none

revert chunk size [skip ci]
  inst/include/bvharforecaster.h
  src/spillover-ldlt.cpp
Due: none

add mcmcspillover class
  inst/include/bvharconfig.h
  inst/include/bvharspillover.h
Due: none

use spillover base class mcmcspillover
  inst/include/bvharconfig.h
  inst/include/bvharspillover.h
  inst/include/regspillover.h
  inst/include/svspillover.h
Due: none

use mcmcvharspillover as base for vhar spillover
  inst/include/bvharspillover.h
  inst/include/regspillover.h
  inst/include/svspillover.h
  src/spillover-ldlt.cpp
Due: none

use template to reduce duplicates in spillover classes
  inst/include/bvharconfig.h
  inst/include/bvharspillover.h
  inst/include/regspillover.h
  inst/include/svspillover.h
  src/spillover-sv.cpp
Due: none

use record list also in spillover
  R/RcppExports.R
  R/forecast.R
  R/misc-r.R
  R/spillover.R
  R/summary-forecast.R
  inst/include/bvharconfig.h
  inst/include/bvharforecaster.h
  src/RcppExports.cpp
  src/spillover-ldlt.cpp
Due: none

make spillover init function
  inst/include/bvharspillover.h
  src/spillover-ldlt.cpp
Due: none

use dynamic spillover classes
  R/RcppExports.R
  R/spillover.R
  inst/include/bvharconfig.h
  inst/include/bvharspillover.h
  src/RcppExports.cpp
  src/spillover-ldlt.cpp
  src/spillover-sv.cpp
Due: none

fix so that pybind can use
  inst/include/bvharspillover.h
  python/src/bvhar/_src/_ldltspillover.cpp
  python/src/bvhar/_src/_svspillover.cpp
  python/src/bvhar/model/_bayes.py
  src/spillover-ldlt.cpp
  src/spillover-sv.cpp
Due: python

add spillover method in python
  python/src/bvhar/model/_bayes.py
  python/src/bvhar/utils/_misc.py
  python/tests/test_bayes.py
Due: python

dynamic spillover with bvar need fix
  R/spillover.R
  inst/include/bvharspillover.h
  python/src/bvhar/_src/_ldltspillover.cpp
  python/src/bvhar/model/_bayes.py
  python/tests/test_bayes.py
Due: python

fix some dl lines for numerical stability
  inst/include/bvhardraw.h
Due: none

fix dynamic spillover class
  inst/include/bvharspillover.h
Due: none

process dynamic spillover result
  python/src/bvhar/model/_bayes.py
  python/src/bvhar/utils/_misc.py
  python/tests/test_bayes.py
Due: python

Increment version number to 2.1.2.9014
  DESCRIPTION
Due: none
