Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

adjust ci configuration for windows-latest oldrel
  .github/workflows/R-CMD-check.yaml
Due: r-package

require R 4.0 now due to cpp11
  .github/workflows/R-CMD-check.yaml
  DESCRIPTION
Due: r-package

require r 4.1 following tidyverse schedule
  DESCRIPTION
  NAMESPACE
  R/criteria.R
  R/forecast.R
  R/generate-process.R
  R/irf.R
  R/misc-r.R
  R/plot-spillover.R
  R/plot.R
  R/print-spillover.R
  R/print-varlse.R
  R/print-vharlse.R
  R/spillover.R
  R/stable-process.R
  R/summary-bayes.R
  R/summary-forecast.R
  R/summary-sparse.R
  R/summary-varlse.R
  R/summary-vharlse.R
  R/utils-pipe.R
  data-raw/etf_vix.R
  man/pipe.Rd
  vignettes/bvhar.Rmd
  vignettes/forecasting.Rmd
Due: none

Increment version number to 2.1.2.9015
  DESCRIPTION
  NEWS.md
Due: none

fix after check
  DESCRIPTION
  R/globals.R
  R/misc-r.R
Due: none

not check oldrel-4 until it becomes 4.1 in spring 2025
  .github/workflows/R-CMD-check.yaml
Due: r-package

revert dl gig trick
  inst/include/bvhardraw.h
Due: none

use latent when drawing group in dl [skip ci]
  inst/include/bvharmcmc.h
Due: none

Revert "use latent when drawing group in dl [skip ci]"
  inst/include/bvharmcmc.h
Due: none

try gig trick again in dl
  inst/include/bvhardraw.h
Due: none

return lpl in each step
  NAMESPACE
  R/summary-forecast.R
  inst/include/bvharforecaster.h
  man/alpl.Rd
  python/src/bvhar/model/_bayes.py
Due: python

Increment version number to 2.1.2.9016
  DESCRIPTION
  NEWS.md
Due: none

missing function in pkgdown contents
  _pkgdown.yml
Due: none

revert dl [skip ci]
  inst/include/bvhardraw.h
Due: none

fix typo [skip ci]
  inst/include/bvhardraw.h
Due: none

move grp_id and grp_mat to the base params
  inst/include/bvharconfig.h
  inst/include/bvharmcmc.h
Due: none

move updatepenalty to the base class
  inst/include/bvharmcmc.h
Due: none

add adjoint in llt solve [skip ci]
  inst/include/bvhardraw.h
Due: none

can initialize reginits using records
  inst/include/bvharconfig.h
Due: none

fix misspecified member name
  inst/include/bvharconfig.h
Due: none

change the group structure of var bayes
  R/var-bayes.R
  python/src/bvhar/model/_bayes.py
Due: python

make new hex logo
  .Rbuildignore
  logo/bvhar-hex.R
  logo/logo.png
Due: r-package

execute usethis::use_logo()
  README.Rmd
  README.md
  logo/bvhar-hex.R
  man/figures/logo.png
Due: none

overwrite pkgdown logos
  logo/bvhar-hex.R
  pkgdown/favicon/apple-touch-icon.png
  pkgdown/favicon/favicon-96x96.png
  pkgdown/favicon/favicon.ico
  pkgdown/favicon/favicon.svg
  pkgdown/favicon/site.webmanifest
  pkgdown/favicon/web-app-manifest-192x192.png
  pkgdown/favicon/web-app-manifest-512x512.png
Due: none

replace every logo
  logo/bvhar-hex.R
  logo/bvhar-logo.png
  man/figures/logo.png
  pkgdown/favicon/apple-touch-icon-120x120.png
  pkgdown/favicon/apple-touch-icon-152x152.png
  pkgdown/favicon/apple-touch-icon-180x180.png
  pkgdown/favicon/apple-touch-icon-60x60.png
  pkgdown/favicon/apple-touch-icon-76x76.png
  pkgdown/favicon/favicon-16x16.png
  pkgdown/favicon/favicon-32x32.png
  pkgdown/favicon/favicon.svg
  python/docs/favicon.ico
  python/docs/logo.png
Due: python

add pattern to logo in rbuildignore [skip ci]
  .Rbuildignore
Due: r-package

use same group for bvar with bvhar [skip ci]
  R/var-bayes.R
Due: none

scaling when llt in drawing coef
  inst/include/bvhardraw.h
Due: none

roll back gig reciprocal [skip ci]
  inst/include/bvhardraw.h
Due: none

add threshold in dl shrinkage
  inst/include/bvhardraw.h
Due: none

add threashold to shrinkage parameters using gig posterior
  inst/include/bvhardraw.h
Due: none

number check in gig [skip ci]
  inst/include/bvhardraw.h
  inst/include/bvharsim.h
  inst/include/commondefs.h
Due: none

use ols sigma as hyperparameter in minnesota ldlt [skip ci]
  inst/include/bvharconfig.h
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
Due: none

comment old minnesota draw function [skip ci]
  inst/include/bvhardraw.h
Due: none

add nan check in cut_param [skip ci]
  inst/include/bvhardraw.h
Due: none

fix nu update in minnesota
  inst/include/bvhardraw.h
Due: none

fix nu scale in minnesota [skip ci]
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
Due: none

Fix lambda drawing function in minnesota [skip ci]
  inst/include/bvhardraw.h
Due: none

revert initial sigma in minnesota [skip ci]
  inst/include/bvharconfig.h
Due: none

Fix division to multiplication of precision diagonal in minnesota
  inst/include/bvhardraw.h
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
