Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

fix pybind module and install headers also in include
  python/CMakeLists.txt
Due: python

leave setup.py until fully migrated to pyproject.toml
  python/setup.py
Due: python

test setup.py before cmake
  python/CMakeLists.txt
  python/pyproject.toml
Due: python

fix nested bvhar directory of cmake
  python/CMakeLists.txt
  python/pyproject.toml
Due: python

add debug messages for module
  python/CMakeLists.txt
Due: python

try to fix the so file name
  python/CMakeLists.txt
Due: python

fix macos llvm in conda-check
  .github/workflows/py-conda-check.yaml
Due: r-package

run pytest in temp folder and add cmake args in macos
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-test-coverage.yaml
Due: r-package

trying to fix random error in pytest
  .github/workflows/py-conda-check.yaml
Due: r-package

pytest with faulthandler to find error
  .github/workflows/py-conda-check.yaml
Due: r-package

skip wrong implementation
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-test-coverage.yaml
  python/tests/test_bayes.py
Due: r-package, python

fix lbfgspp's eigen dependency
  .github/workflows/py-test-coverage.yaml
  python/CMakeLists.txt
Due: r-package, python

FetchContent_Populate is deprecated so try OVERRIDE_FIND_PACKAGE instead
  python/CMakeLists.txt
Due: python

OVERRIDE_FIND_PACKAGE could not fix so use FetchContent_Populate
  .github/workflows/py-test-coverage.yaml
  python/CMakeLists.txt
Due: r-package, python

use boost::headers to fix boost include error
  .github/workflows/py-test-coverage.yaml
  python/CMakeLists.txt
Due: r-package, python

Boost::headers gives the same error
  .github/workflows/py-test-coverage.yaml
  python/CMakeLists.txt
Due: r-package, python

add CMAKE_POSITION_INDEPENDENT_CODE against ubuntu error
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-test-coverage.yaml
  python/CMakeLists.txt
Due: r-package, python

use the same minimum version of boost as in the conda environment
  python/CMakeLists.txt
Due: python

try lower case boost
  python/CMakeLists.txt
Due: python

try boost_root for conda
  python/CMakeLists.txt
Due: python

try lower case boost with boost_root
  python/CMakeLists.txt
Due: python

try ignore system boost
  python/CMakeLists.txt
Due: python

add boost_includedir and boost_librarydir
  python/CMakeLists.txt
Due: python

add cmp0167 old for findboost
  python/CMakeLists.txt
Due: python

check Boost::boost and Boost::random for target_link_libraries
  python/CMakeLists.txt
Due: python

change libboost-headers into libboost in conda
  python/CMakeLists.txt
  python/requirements/environment-dev.yml
  python/requirements/environment.yml
Due: python

try libboost with boost_root
  python/CMakeLists.txt
Due: python

try libboost-devel conda
  python/requirements/environment.yml
Due: python

test if libboost-headers is enough
  python/requirements/environment.yml
Due: python

libboost-devel with single boost_root
  python/CMakeLists.txt
  python/requirements/environment-dev.yml
  python/requirements/environment.yml
Due: python

add 3.9 in ci
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/CMakeLists.txt
Due: r-package, python

path in load_vix is not compatible with 3.9 so minimum as 3.10 while adding 3.14 in ci
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-wheel-check.yaml
  python/pyproject.toml
Due: r-package, python

remove pybind11 cpp dependencies in readme
  python/README.md
  python/README.qmd
  python/docs/get_started.qmd
  python/docs/index.qmd
Due: python

py-github-check only uses corresponding branch and use runner.temp
  .github/workflows/py-github-check.yaml
Due: r-package

runner.temp in default was wrong
  .github/workflows/py-github-check.yaml
Due: r-package

remove deprecated headers
  inst/include/bvhar/deprecated_triangular
  inst/include/bvhar/forecast
  inst/include/bvhar/spillover
  inst/include/bvhar/src/bayes/misc/deprecated/draw.h
  inst/include/bvhar/src/bayes/triangular/deprecated/config.h
  inst/include/bvhar/src/bayes/triangular/deprecated/forecaster.h
  inst/include/bvhar/src/bayes/triangular/deprecated/reg.h
  inst/include/bvhar/src/bayes/triangular/deprecated/regforecaster.h
  inst/include/bvhar/src/bayes/triangular/deprecated/regspillover.h
  inst/include/bvhar/src/bayes/triangular/deprecated/spillover.h
  inst/include/bvhar/src/bayes/triangular/deprecated/sv.h
  inst/include/bvhar/src/bayes/triangular/deprecated/svforecaster.h
  inst/include/bvhar/src/bayes/triangular/deprecated/svspillover.h
  inst/include/bvhar/src/bayes/triangular/deprecated/triangular.h
Due: none

Increment version number to 2.3.0.9014
  DESCRIPTION
  NEWS.md
Due: none

add ispath template for path forecasting
  inst/include/bvhar/src/bayes/forecaster.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
Due: none

fix forecast draws processing
  R/misc-r.R
  R/summary-forecast.R
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
