Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

Increment version number to 2.2.0
  DESCRIPTION
  NEWS.md
Due: none

remove linking vignettes
  vignettes/linking.Rmd
Due: none

build readme
  README.Rmd
  README.md
Due: none

update cran comments
  _pkgdown.yml
  cran-comments.md
  revdep/README.md
Due: none

add issue and pr templates [skip ci]
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: r-package

skip some tests in CRAN
  cran-comments.md
  tests/testthat/test-spillover.R
  tests/testthat/test-var-bayes.R
  tests/testthat/test-vhar-bayes.R
Due: none

Increment version number to 2.2.0.9000
  DESCRIPTION
  NEWS.md
Due: none

divide dev also in doxygen and quartodoc
  .github/workflows/doxygen.yaml
  .github/workflows/pkgdown.yaml
  .github/workflows/quartodoc.yaml
  _pkgdown.yml
  python/docs/_quarto.yml
  python/docs/_variables.yml
Due: r-package, python

get dev variables before build site
  .github/workflows/quartodoc.yaml
Due: r-package

use env instead of var in quarto
  .github/workflows/quartodoc.yaml
  python/docs/_quarto.yml
  python/docs/_variables.yml
Due: r-package, python

try variables again for quarto
  .github/workflows/quartodoc.yaml
  python/docs/_quarto.yml
  python/docs/_variables.yml
Due: r-package, python

use string for quarto variables
  .github/workflows/quartodoc.yaml
  python/docs/_quarto.yml
  python/docs/_variables.yml
Due: r-package, python

define macro for mt19937
  inst/include/bvhar/src/bayes/misc/draw.h
  inst/include/bvhar/src/bayes/mniw/forecaster.h
  inst/include/bvhar/src/bayes/mniw/minnesota.h
  inst/include/bvhar/src/bayes/mniw/spillover.h
  inst/include/bvhar/src/bayes/triangular/forecaster.h
  inst/include/bvhar/src/bayes/triangular/triangular.h
  inst/include/bvhar/src/core/common.h
  inst/include/bvhar/src/math/random.h
  python/src/bvhar/random/normal.cpp
Due: python

cut large values
  inst/include/bvhar/src/bayes/misc/draw.h
Due: none

add config function for mniw usage in _bayes and some validate misc functions
  NAMESPACE
  R/hyperparam.R
  R/member.R
  R/misc-r.R
  R/var-bayes.R
  R/vhar-bayes.R
  man/set_ldlt.Rd
Due: none

change ci pr branch
  .github/workflows/R-CMD-check.yaml
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-test-coverage.yaml
  .github/workflows/py-wheel-check.yaml
  .github/workflows/test-coverage.yaml
Due: r-package

remove unused input in set_iw
  R/hyperparam.R
  man/set_ldlt.Rd
Due: none

add cut_param in rng functions
  inst/include/bvhar/src/bayes/misc/draw.h
  inst/include/bvhar/src/core/common.h
  inst/include/bvhar/src/math/random.h
Due: none

make x0 and y0 in r
  R/RcppExports.R
  R/bvar-minnesota.R
  R/bvhar-minnesota.R
  inst/include/bvhar/src/bayes/mniw/minnesota.h
  src/RcppExports.cpp
  src/mniw.cpp
Due: none

process config input in misc function
  R/misc-r.R
  R/var-bayes.R
  R/vhar-bayes.R
Due: none

encapsulate init functions in r
  R/misc-r.R
  R/var-bayes.R
  R/vhar-bayes.R
Due: none

add process cta misc function in r
  R/misc-r.R
  R/var-bayes.R
  R/vhar-bayes.R
Due: none

add llt check in precision sampler [skip ci]
  inst/include/bvhar/src/bayes/misc/draw.h
Due: none

ignore error in vignettes temporarily against CRAN's devel check
  vignettes/shrinkage.Rmd
  vignettes/stochastic-volatility.Rmd
Due: none

Increment version number to 2.2.1
  DESCRIPTION
  NEWS.md
Due: none

update cran-comments
  cran-comments.md
  revdep/README.md
Due: none

Increment version number to 2.2.1.9000
  DESCRIPTION
  NEWS.md
Due: none

fix unlist coef result
  R/misc-r.R
  vignettes/shrinkage.Rmd
  vignettes/stochastic-volatility.Rmd
Due: none

Increment version number to 2.2.2
  DESCRIPTION
  NEWS.md
Due: none

polish news
  NEWS.md
  README.md
Due: none

update cran-comments
  cran-comments.md
Due: none

change pkgdown link for v2.2
  _pkgdown.yml
Due: none

Increment version number to 2.2.2.9000
  DESCRIPTION
  NEWS.md
Due: none

separate config header in minnesota
  inst/include/bvhar/src/bayes/mniw/config.h
  inst/include/bvhar/src/bayes/mniw/minnesota.h
Due: none

rename minnesota.h to mniw.h
  inst/include/bvhar/mniw
  inst/include/bvhar/src/bayes/mniw/forecaster.h
  inst/include/bvhar/src/bayes/mniw/mniw.h
  inst/include/bvhar/src/bayes/mniw/spillover.h
Due: none

Increment version number to 2.3.0.9000
  DESCRIPTION
  NEWS.md
Due: none

use Reduce for bind_draws
  R/var-bayes.R
  R/vhar-bayes.R
Due: none

add inline function for gaussian and student random
  R/RcppExports.R
  R/generate-process.R
  inst/include/bvhar/src/math/random.h
  src/RcppExports.cpp
  src/utils.cpp
Due: none

start to use forecaster for dgp
  inst/include/bvhar/src/core/forecaster.h
  inst/include/bvhar/src/ols/forecaster.h
Due: none

add test for var and vhar dgp
  tests/testthat/test-generate-process.R
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
