Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

quartodoc has an issue with griffe 2 [only pages]
  python/requirements/environment-dev.yml
Due: python

Deploying to gh-pages from @ ygeunkim/bvhar@40a4fe8b1498395ee292acb19197c5c5991e44c6 🚀
  dev/python/authors.html
  dev/python/get_started.html
  dev/python/index.html
  dev/python/intro.html
  dev/python/reference/DlConfig.html
  dev/python/reference/HorseshoeConfig.html
  dev/python/reference/InterceptConfig.html
  dev/python/reference/LambdaConfig.html
  dev/python/reference/LdltConfig.html
  dev/python/reference/MinnesotaConfig.html
  dev/python/reference/NgConfig.html
  dev/python/reference/SsvsConfig.html
  dev/python/reference/SvConfig.html
  dev/python/reference/VarBayes.html
  dev/python/reference/VarOls.html
  dev/python/reference/VharBayes.html
  dev/python/reference/VharOls.html
  dev/python/reference/checkomp.check_omp.html
  dev/python/reference/checkomp.is_omp.html
  dev/python/reference/index.html
  dev/python/reference/load_vix.html
  dev/python/reference/normal.generate_mnormal.html
  dev/python/search.json
  dev/python/site_libs/bootstrap/bootstrap-5a26ea2fac663b9185c05d0baca883b6.min.css
  dev/python/site_libs/quarto-html/quarto-syntax-highlighting-dark-dbc92dda8186f57fa2e333fbb71d6a9d.css
  dev/python/site_libs/quarto-html/quarto.js
  dev/python/site_libs/quarto-search/quarto-search.js
Due: none

remove bvhar_use_rcpp in doxygen [only pages]
  inst/doxygen/Doxyfile
  inst/doxygen/index.md
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@37c74f1c774f01e11dd417d0738b8de15d9ae5ff 🚀
  dev/articles/bvhar.html
  dev/articles/bvhar.md
  dev/articles/forecasting.html
  dev/articles/forecasting.md
  dev/articles/forecasting_files/figure-html/evalplot-1.png
  dev/articles/forecasting_files/figure-html/predplot-1.png
  dev/pkgdown.yml
  dev/search.json
Due: none

make separate header for pure cpp and fix stop_fmt warnings
  inst/include/bvhar/src/core/commoncpp.h
  inst/include/bvhar/src/core/commondefs.h
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@799571765240cda08ac33d9cc87e51e251c2bea0 🚀
  dev/python/get_started.html
  dev/python/intro.html
Due: none

add fetching in cmake
  CMakeLists.txt
  inst/examples/CMakeLists.txt
  inst/tests/CMakeLists.txt
Due: none

add cmake config check ci
  .github/workflows/cpp-cmake-check.yaml
  codecov.yml
Due: r-package

cpp library requires c++17 when using only cpp
  .github/workflows/cpp-cmake-check.yaml
  CMakeLists.txt
Due: r-package

try boost::boost
  CMakeLists.txt
Due: none

add apple-clang
  .github/workflows/cpp-cmake-check.yaml
Due: r-package

add dummy atomic in macos
  .github/workflows/cpp-cmake-check.yaml
  CMakeLists.txt
Due: r-package

windows llvm also has atomic issue
  CMakeLists.txt
Due: none

remove set CMAKE_CXX_STANDARD
  .github/workflows/cpp-cmake-check.yaml
  CMakeLists.txt
Due: r-package

fix cxx_std for each msvc and apple-clang
  .github/workflows/cpp-cmake-check.yaml
Due: r-package

fix error on windows
  CMakeLists.txt
Due: none

try to fix dlfcn error in windows gcc
  CMakeLists.txt
Due: none

use boost_include_libraries instead of BOOST_STACKTRACE_USE_NOOP
  CMakeLists.txt
Due: none

move find_or_fetch_package function into separate utils.cmake
  .Rbuildignore
  CMakeLists.txt
  cmake/utils.cmake
Due: r-package

start to add test using catch2 and add test coverage
  .github/workflows/cpp-cmake-check.yaml
  .github/workflows/cpp-test-coverage.yaml
  inst/tests/CMakeLists.txt
  inst/tests/test-ols.cpp
Due: r-package

add include(CTest)
  .github/workflows/cpp-test-coverage.yaml
  inst/tests/CMakeLists.txt
Due: r-package

check gcno and gcda files
  .github/workflows/cpp-test-coverage.yaml
Due: r-package

use target_* for BVHAR_ENABLE_COVERAGE before others
  .github/workflows/cpp-test-coverage.yaml
  CMakeLists.txt
Due: r-package

check gcno and gcda after changing cmake
  .github/workflows/cpp-test-coverage.yaml
Due: r-package

add empty test
  .github/workflows/cpp-test-coverage.yaml
  inst/tests/test-mniw.cpp
  inst/tests/test-triangular.cpp
Due: r-package

Increment version number to 2.4.0.9004
  DESCRIPTION
  NEWS.md
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@c34a24b6c4779c93532df03df088e66af15d1473 🚀
  dev/python/get_started.html
  dev/python/intro.html
Due: none

fix doxygen workflow cancelled [only pages]
  .github/workflows/doxygen.yaml
Due: r-package

Deploying to gh-pages from @ ygeunkim/bvhar@cd9513f8fe0944e5ebeedfb0dbc2668511663762 🚀
  dev/python/get_started.html
  dev/python/intro.html
Due: none

Deploying to gh-pages from @ ygeunkim/bvhar@cd9513f8fe0944e5ebeedfb0dbc2668511663762 🚀
  dev/articles/bvhar.html
  dev/articles/bvhar.md
  dev/articles/forecasting.html
  dev/articles/forecasting.md
  dev/articles/forecasting_files/figure-html/evalplot-1.png
  dev/articles/forecasting_files/figure-html/predplot-1.png
  dev/pkgdown.yml
  dev/search.json
Due: none

add inits struct constructor based on rng
  inst/include/bvhar/src/bayes/shrinkage/config.h
  inst/include/bvhar/src/bayes/triangular/config.h
Due: none

add rngstate class as base that can update and set rng from outside
  inst/include/bvhar/src/bayes/bayes.h
  inst/include/bvhar/src/bayes/forecaster.h
  inst/include/bvhar/src/bayes/mniw/forecaster.h
  inst/include/bvhar/src/bayes/mniw/irf.h
  inst/include/bvhar/src/bayes/mniw/minnesota.h
  inst/include/bvhar/src/bayes/mniw/spillover.h
  inst/include/bvhar/src/core/forecaster.h
  inst/include/bvhar/src/math/rng.h
Due: none

add function that can update and get rng of both model and runner classes
  inst/include/bvhar/src/math/rng.h
Due: none

can use initialize_mcmc with random init generated by boost::random
  inst/examples/example-cta.cpp
  inst/include/bvhar/src/bayes/shrinkage/shrinkage.h
  inst/include/bvhar/src/bayes/triangular/config.h
  inst/include/bvhar/src/bayes/triangular/triangular.h
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
