Repository ygeunkim/bvhar: changes, and which Codecov flags are due for each by the changed paths.
All: r-package, python

update cis to work in develop
  .github/workflows/py-conda-check.yaml
  .github/workflows/py-github-check.yaml
  .github/workflows/py-pip-check.yaml
  .github/workflows/py-test-coverage.yaml
  .github/workflows/py-wheel-check.yaml
  .github/workflows/quartodoc.yaml
  _pkgdown.yml
  python/README.md
  python/README.qmd
  python/docs/_quarto.yml
  python/docs/index.qmd
  python/pyproject.toml
  python/setup.py
  python/src/bvhar/model/_spec.py
Due: r-package, python

change package url to github page
  .github/workflows/quartodoc.yaml
  python/docs/_quarto.yml
  python/docs/_variables.yml
  python/docs/authors.qmd
  python/docs/index.qmd
  python/pyproject.toml
  python/setup.py
Due: r-package, python

fix std cout note in r and move some headers
  .github/workflows/R-CMD-check.yaml
  inst/include/bvharprogress.h
  inst/include/commondefs.h
  python/src/bvhar/_src/_design.cpp
  python/src/bvhar/_src/_ldlt.cpp
  python/src/bvhar/_src/_ldltforecast.cpp
  python/src/bvhar/_src/_ols.cpp
  python/src/bvhar/_src/_sv.cpp
  python/src/bvhar/_src/_svforecast.cpp
  src/Makevars
  src/Makevars.ucrt
  src/Makevars.win
Due: r-package, python

remove oxfordman datasets
  data-raw/oxfordman_long.R
  data/oxfordman_rk.rda
  data/oxfordman_rv.rda
Due: none

Increment version number to 2.1.0
  DESCRIPTION
  NEWS.md
Due: none

remove oxfordman document
  R/data.R
  man/oxfordman.Rd
Due: none

update citation
  R/RcppExports.R
  R/bvhar-horseshoe.R
  R/bvhar-minnesota.R
  R/bvhar-package.R
  R/bvhar-ssvs.R
  R/bvhar-sv.R
  R/hyperparam.R
  R/simulate-param.R
  R/tuning.R
  R/vhar-bayes.R
  inst/CITATION
  man/bvhar-package.Rd
  man/bvhar_horseshoe.Rd
  man/bvhar_minnesota.Rd
  man/bvhar_ssvs.Rd
  man/bvhar_sv.Rd
  man/choose_bayes.Rd
  man/choose_bvar.Rd
  man/set_bvar.Rd
  man/sim_mnvhar_coef.Rd
  man/vhar_bayes.Rd
  src/forecast-minn.cpp
Due: none

remove oxfordman link
  R/data.R
  _pkgdown.yml
  man/financial_history_appendix.Rd
Due: none

add cran check ci in release branch
  .github/workflows/R-CMD-check.yaml
  .github/workflows/pkgdown.yaml
  cran-comments.md
Due: r-package

add no manual to avoid latex error in cran check
  .github/workflows/R-CMD-check.yaml
Due: r-package

add deprecated functions
  R/bvar-sv.R
  R/simulate-param.R
  man/bvar_sv.Rd
  man/sim_horseshoe_var.Rd
  man/sim_ssvs_var.Rd
Due: none

update vignettes
  .github/workflows/pkgdown.yaml
  README.Rmd
  README.md
  _pkgdown.yml
  man/figures/README-predfig-1.png
  revdep/README.md
  vignettes/bvhar.Rmd
  vignettes/shrinkage.Rmd
  vignettes/stochastic-volatility.Rmd
Due: r-package

Increment version number to 2.1.0.9000
  DESCRIPTION
  NEWS.md
Due: none

use template to avoid duplicate between reg and sv classes - should replace old ones later
  inst/include/bayesautoreg.h
  inst/include/bvhardraw.h
  inst/include/bvharmcmc.h
  inst/include/commondefs.h
Due: none

add interface class to initialize easily
  inst/include/bayesautoreg.h
  inst/include/bvharmcmc.h
Due: none

use template class in ldlt and sv mcmc
  R/var-bayes.R
  R/vhar-bayes.R
  src/estimate-sur.cpp
Due: none

use single line forward declaration
  inst/include/bayesautoreg.h
  inst/include/bvharmcmc.h
Due: none

use initialize inline functions
  inst/include/bayesautoreg.h
  inst/include/bvharmcmc.h
  src/estimate-sur.cpp
Due: none

forgot to commit string macro
  inst/include/commondefs.h
Due: none

start to use template inheritance in forecaster but not complete yet
  R/RcppExports.R
  inst/include/bayesforecast.h
  inst/include/bvharforecaster.h
  src/RcppExports.cpp
  src/forecast-mcmc.cpp
Due: none

use gig instead of invgauss in dl
  inst/include/bvhardraw.h
Due: none

fix readme a little for python
  .github/workflows/py-github-check.yaml
  .github/workflows/test-coverage.yaml
  README.Rmd
  README.md
  python/README.md
  python/README.qmd
  python/docs/index.qmd
Due: r-package, python

add very large max iter for while in gig generation
  inst/include/bvhardraw.h
  inst/include/bvharsim.h
Due: none

define use_rcpp macro if -DUSE_RCPP so that it works with sourcecpp
  inst/include/commondefs.h
Due: none

Increment version number to 2.1.1
  DESCRIPTION
  NEWS.md
Due: none

build readme of v2.1.1
  README.Rmd
  README.md
Due: none

reverse dependency check
  .github/workflows/R-CMD-check.yaml
  revdep/README.md
Due: r-package

update cran comments
  cran-comments.md
Due: none

add link for v2.1.1 release
  _pkgdown.yml
Due: none

use dev version v2.1.1.9000
  DESCRIPTION
  NEWS.md
  _pkgdown.yml
Due: none

use chain numbers for chunk size of roll and expand
  R/RcppExports.R
  R/summary-forecast.R
  src/RcppExports.cpp
  src/forecast-ldlt.cpp
  src/forecast-sv.cpp
Due: none

remove useless warning in roll and expand forecast
  R/summary-forecast.R
Due: none

fix processing roll and expand forecast result
  R/summary-forecast.R
Due: none

fix constant term update in ldlt and sv
  inst/include/mcmcreg.h
  inst/include/mcmcsv.h
Due: none

define use_rcpp macro in onload function
  R/zzz.R
  inst/include/commondefs.h
Due: none

mistake in registerplugin [skip ci]
  R/zzz.R
Due: none

fix roll and expand result process
  R/summary-forecast.R
Due: none

fix vignette about using bvhar headers in cpp source
  _pkgdown.yml
  vignettes/linking.Rmd
Due: none

add double argument in out of forecasting of ldlt and sv
  R/summary-forecast.R
  man/forecast_expand.Rd
  man/forecast_roll.Rd
Due: none

Path conditions:
  r-package: any of: .
  python: any of: python
